# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

Assets/Scripts/StarGenerator.cs

Assets/Prefabs/StarEarth.prefab

Assets/Scenes/Starproject.unity

Assets/Scenes/Starproject.unity

Assets/Scenes/Starproject.unity.meta

Assets/Scenes/Starproject.unity

Assets/Prefabs/StarEarth.prefab

Assets/Prefabs/StarEarth.prefab
Assets/Scenes/Starlevel1.unity

Assets/Scenes/Starlevel1.unity

Assets/Scripts/MusicController.cs

Assets/Scripts/MusicController.cs
